body {
  font-family: "Open Sans Condensed", sans-serif;
  color: $black;
  padding-top: 76px;

  @include media-breakpoint-up(lg) {
    padding-left: 320px;
    padding-top: 0;
  }
}

a {
  color: $white;
}
